In [1]:
!pip install nba_api

Collecting nba_api
  Downloading nba_api-1.1.9-py3-none-any.whl (242 kB)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from nba_api) (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->nba_api) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->nba_api) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->nba_api) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->nba_api) (3.0.4)
Installing collected packages: nba-api
Successfully installed nba-api-1.1.9

In [3]:
def one_dict(list_dict):
    keys=list_dict[0].keys()
    out_dict={key:[] for key in keys}
    for dict_ in list_dict:
        for key, value in dict_.items():
            out_dict[key].append(value)
    return out_dict

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
dict_={'a':[11,21,31],'b':[12,22,32]}

In [6]:
df=pd.DataFrame(dict_)
type(df)

pandas.core.frame.DataFrame

In [7]:
df.head()

    a   b
0  11  12
1  21  22
2  31  32

In [8]:
df.mean()

a    21.0
b    22.0
dtype: float64

In [9]:
from nba_api.stats.static import teams
import matplotlib.pyplot as plt

In [10]:
#https://pypi.org/project/nba-api/

In [11]:
nba_teams = teams.get_teams()

In [12]:
nba_teams

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]

In [13]:
nba_teams[0:3]

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [14]:
dict_nba_team=one_dict(nba_teams)
df_teams=pd.DataFrame(dict_nba_team)
df_teams.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [15]:
df_warriors=df_teams[df_teams['nickname']=='Warriors']
df_warriors

,id,full_name,abbreviation,nickname,city,state,year_founded
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946

In [16]:
df_teams

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [17]:
id_warriors=df_warriors[['id']].values[0][0]
#we now have an integer that can be used   to request the Warriors information 
id_warriors

1610612744

In [18]:
from nba_api.stats.endpoints import leaguegamefinder

In [19]:
# Since https://stats.nba.com does not allow api calls from Cloud IPs and Skills Network Labs uses a Cloud IP.
# The following code is comment out, you can run it on jupyter labs on your own computer.
# gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=id_warriors)

In [20]:
# Since https://stats.nba.com does not allow api calls from Cloud IPs and Skills Network Labs uses a Cloud IP.
# The following code is comment out, you can run it on jupyter labs on your own computer.
# gamefinder.get_json()

In [21]:
# Since https://stats.nba.com does not allow api calls from Cloud IPs and Skills Network Labs uses a Cloud IP.
# The following code is comment out, you can run it on jupyter labs on your own computer.
# games = gamefinder.get_data_frames()[0]
# games.head()

In [22]:
! wget https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%205/Labs/Golden_State.pkl

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [25]:
! wget https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%205/Labs/Golden_State.pkl

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [27]:
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=id_warriors)
gamefinder

In [28]:
gamefinder.get_json()

s. POR", "W", 240, 105, 43, 85, 0.506, 0, 1, 0.0, 19, 24, 0.792, 12, 27, 39, 21, 13, 6, 17, 18, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400259", "1984-12-12", "GOS @ LAL", "L", 240, 107, 39, 97, 0.402, 0, 3, 0.0, 29, 40, 0.725, 14, 22, 36, 24, 9, 7, 13, 33, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400254", "1984-12-11", "GOS vs. LAC", "L", 240, 104, 43, 96, 0.448, 2, 10, 0.2, 16, 20, 0.8, 16, 19, 35, 20, 15, 1, 16, 24, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400239", "1984-12-08", "GOS vs. PHX", "L", 240, 98, 40, 99, 0.404, 1, 6, 0.167, 17, 23, 0.739, 20, 27, 47, 23, 9, 0, 14, 26, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400222", "1984-12-06", "GOS vs. HOU", "W", 240, 114, 37, 80, 0.463, 1, 2, 0.5, 39, 49, 0.796, 13, 20, 33, 17, 6, 4, 15, 24, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400212", "1984-12-04", "GOS vs. UTH", "L", 240, 105, 44, 109, 0.404, 0, 3, 0.0, 17, 26, 0.654, 25, 35, 60, 16, 7, 5, 14, 24, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400203", "1984-12-01", "GOS @ PHX", "L", 240, 103, 40, 92, 0.435, 0, 5, 0.0, 23, 33, 0.697, 17, 21, 38, 14, 13, 2, 13, 25, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400186", "1984-11-29", "GOS vs. KCK", "W", 240, 110, 48, 102, 0.471, 2, 7, 0.286, 12, 18, 0.667, 22, 27, 49, 22, 11, 4, 19, 24, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400171", "1984-11-27", "GOS vs. CHI", "W", 240, 109, 44, 94, 0.468, 1, 2, 0.5, 20, 28, 0.714, 22, 31, 53, 22, 5, 2, 14, 15, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400155", "1984-11-24", "GOS @ MIL", "L", 240, 97, 40, 92, 0.435, 2, 8, 0.25, 15, 19, 0.789, 23, 19, 42, 23, 8, 3, 20, 24, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400152", "1984-11-23", "GOS @ CLE", "W", 240, 107, 46, 86, 0.535, 3, 6, 0.5, 12, 14, 0.857, 14, 19, 33, 28, 11, 3, 18, 21, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400143", "1984-11-21", "GOS @ BOS", "L", 240, 91, 41, 94, 0.436, 1, 3, 0.333, 8, 13, 0.615, 14, 15, 29, 20, 5, 2, 19, 22, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400131", "1984-11-20", "GOS @ NYK", "L", 240, 101, 35, 69, 0.507, 2, 5, 0.4, 29, 40, 0.725, 16, 23, 39, 19, 11, 8, 24, 33, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400119", "1984-11-17", "GOS vs. NJN", "L", 239, 114, 39, 78, 0.5, 5, 7, 0.714, 31, 34, 0.912, 12, 24, 36, 24, 7, 0, 19, 21, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400110", "1984-11-15", "GOS vs. DAL", "W", 240, 117, 48, 87, 0.552, 1, 4, 0.25, 20, 26, 0.769, 12, 33, 45, 21, 4, 4, 13, 19, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400101", "1984-11-13", "GOS @ SEA", "L", 240, 102, 35, 81, 0.432, 1, 3, 0.333, 31, 37, 0.838, 13, 25, 38, 26, 10, 3, 16, 28, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400091", "1984-11-11", "GOS @ POR", "L", 240, 97, 36, 80, 0.45, 0, 5, 0.0, 25, 29, 0.862, 8, 27, 35, 18, 10, 3, 24, 41, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400080", "1984-11-09", "GOS @ UTH", "L", 265, 117, 43, 101, 0.426, 2, 9, 0.222, 29, 33, 0.879, 17, 40, 57, 21, 15, 6, 24, 31, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400075", "1984-11-08", "GOS vs. LAL", "W", 238, 122, 50, 101, 0.495, 1, 3, 0.333, 21, 27, 0.778, 20, 32, 52, 24, 13, 2, 17, 30, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400051", "1984-11-03", "GOS vs. UTH", "W", 240, 112, 46, 100, 0.46, 1, 2, 0.5, 19, 29, 0.655, 16, 32, 48, 24, 5, 3, 6, 25, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400039", "1984-11-01", "GOS vs. SAN", "L", 240, 108, 46, 96, 0.479, 0, 1, 0.0, 16, 25, 0.64, 23, 28, 51, 26, 10, 2, 24, 26, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400020", "1984-10-30", "GOS @ LAL", "L", 240, 110, 49, 111, 0.441, 0, 3, 0.0, 12, 20, 0.6, 23, 19, 42, 22, 12, 1, 18, 24, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400008", "1984-10-27", "GOS @ DEN", "L", 240, 121, 48, 94, 0.511, 2, 3, 0.667, 23, 27, 0.852, 15, 30, 45, 20, 9, 6, 29, 30, null], ["21984", 1610612744, "GOS", "Golden State Warriors", "0028400006", "1984-10-26", "GOS vs. PHX", "L", 235, 114, 42, 85, 0.494, 2, 6, 0.333, 28, 39, 0.718, null, null, null, 20, 9, 8, 17, 30, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300938", "1984-04-15", "GOS vs. DAL", "W", 240, 98, 43, 90, 0.478, 0, 5, 0.0, 12, 21, 0.571, 21, 29, 50, 20, 14, 4, 24, 19, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300926", "1984-04-13", "GOS @ POR", "L", 240, 101, 39, 80, 0.488, 1, 2, 0.5, 22, 31, 0.71, 11, 28, 39, 22, 7, 1, 18, 24, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300923", "1984-04-12", "GOS @ SEA", "L", 240, 100, 42, 83, 0.506, 1, 4, 0.25, 15, 18, 0.833, 10, 22, 32, 30, 11, 3, 17, 26, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300910", "1984-04-10", "GOS vs. LAL", "W", 240, 117, 47, 95, 0.495, 3, 6, 0.5, 20, 32, 0.625, 19, 24, 43, 19, 6, 3, 9, 29, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300892", "1984-04-07", "GOS vs. KCK", "W", 240, 98, 37, 86, 0.43, 0, 2, 0.0, 24, 30, 0.8, 18, 30, 48, 16, 12, 1, 20, 24, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300881", "1984-04-05", "GOS @ DEN", "W", 240, 128, 49, 85, 0.576, 5, 7, 0.714, 25, 35, 0.714, 10, 31, 41, 32, 7, 5, 14, 28, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300865", "1984-04-03", "GOS vs. HOU", "W", 240, 99, 40, 86, 0.465, 1, 1, 1.0, 18, 24, 0.75, 15, 24, 39, 20, 12, 6, 18, 24, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300860", "1984-04-01", "GOS @ LAL", "L", 240, 110, 40, 86, 0.465, 0, 1, 0.0, 30, 38, 0.789, 16, 21, 37, 20, 14, 2, 17, 24, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300844", "1984-03-30", "GOS @ SDC", "L", 240, 112, 47, 95, 0.495, 3, 6, 0.5, 15, 19, 0.789, 14, 22, 36, 24, 8, 5, 12, 19, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300841", "1984-03-29", "GOS @ PHX", "L", 265, 119, 44, 88, 0.5, 3, 5, 0.6, 28, 36, 0.778, 15, 26, 41, 18, 5, 4, 22, 31, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300829", "1984-03-27", "GOS @ SAN", "L", 265, 116, 49, 96, 0.51, 0, 2, 0.0, 18, 25, 0.72, 14, 35, 49, 27, 8, 4, 24, 26, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300814", "1984-03-24", "GOS vs. POR", "L", 240, 94, 38, 92, 0.413, 0, 2, 0.0, 18, 22, 0.818, 17, 30, 47, 17, 13, 3, 23, 27, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300807", "1984-03-23", "GOS @ UTH", "W", 240, 115, 44, 92, 0.478, 0, 3, 0.0, 27, 30, 0.9, 17, 26, 43, 25, 12, 6, 21, 27, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300785", "1984-03-20", "GOS vs. SEA", "W", 240, 103, 41, 76, 0.539, 0, 2, 0.0, 21, 28, 0.75, 12, 26, 38, 22, 6, 8, 20, 25, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300776", "1984-03-18", "GOS @ SEA", "L", 240, 99, 40, 93, 0.43, 0, 3, 0.0, 19, 25, 0.76, 18, 22, 40, 27, 10, 3, 18, 29, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300767", "1984-03-17", "GOS @ POR", "L", 240, 96, 36, 84, 0.429, 1, 5, 0.2, 23, 31, 0.742, 16, 15, 31, 17, 11, 4, 35, 29, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300756", "1984-03-15", "GOS vs. UTH", "L", 240, 111, 44, 104, 0.423, 4, 8, 0.5, 19, 30, 0.633, 25, 23, 48, 19, 13, 5, 16, 22, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300747", "1984-03-13", "GOS vs. CHI", "L", 240, 101, 42, 84, 0.5, 2, 7, 0.286, 15, 26, 0.577, 17, 18, 35, 21, 13, 3, 24, 21, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300734", "1984-03-11", "GOS @ KCK", "W", 240, 115, 41, 82, 0.5, 0, 2, 0.0, 33, 39, 0.846, 17, 26, 43, 19, 10, 8, 22, 23, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300727", "1984-03-10", "GOS @ DAL", "L", 240, 103, 45, 90, 0.5, 2, 9, 0.222, 11, 19, 0.579, 14, 23, 37, 16, 6, 2, 13, 25, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300706", "1984-03-06", "GOS vs. IND", "W", 240, 125, 46, 82, 0.561, 0, 2, 0.0, 33, 46, 0.717, 12, 30, 42, 29, 11, 5, 22, 19, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300692", "1984-03-03", "GOS vs. HOU", "L", 240, 106, 41, 93, 0.441, 0, 0, null, 24, 32, 0.75, 15, 32, 47, 24, 9, 3, 17, 22, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300686", "1984-03-02", "GOS @ SDC", "W", 240, 110, 40, 87, 0.46, 0, 0, null, 30, 35, 0.857, 17, 22, 39, 18, 18, 7, 19, 33, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300666", "1984-02-28", "GOS vs. DEN", "W", 265, 140, 48, 101, 0.475, 0, 0, null, 44, 60, 0.733, 26, 31, 57, 23, 14, 6, 21, 32, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300648", "1984-02-25", "GOS @ HOU", "W", 240, 118, 44, 89, 0.494, 1, 2, 0.5, 29, 38, 0.763, 17, 32, 49, 20, 13, 2, 19, 23, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300637", "1984-02-23", "GOS vs. SDC", "L", 240, 103, 46, 101, 0.455, 0, 2, 0.0, 11, 16, 0.688, 25, 15, 40, 24, 5, 3, 17, 24, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300619", "1984-02-21", "GOS vs. DEN", "W", 240, 135, 55, 93, 0.591, 0, 2, 0.0, 25, 31, 0.806, 11, 34, 45, 32, 7, 10, 23, 17, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300610", "1984-02-18", "GOS vs. WAS", "W", 240, 113, 43, 79, 0.544, 1, 3, 0.333, 26, 36, 0.722, 8, 25, 33, 22, 9, 5, 15, 27, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300597", "1984-02-16", "GOS vs. BOS", "L", 240, 115, 51, 105, 0.486, 3, 6, 0.5, 10, 16, 0.625, 19, 23, 42, 24, 12, 2, 9, 28, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300581", "1984-02-14", "GOS vs. SEA", "W", 240, 105, 44, 86, 0.512, 0, 1, 0.0, 17, 21, 0.81, 13, 24, 37, 26, 11, 5, 17, 16, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300572", "1984-02-11", "GOS @ CHI", "L", 240, 96, 41, 94, 0.436, 0, 7, 0.0, 14, 15, 0.933, 11, 29, 40, 24, 9, 4, 17, 31, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300561", "1984-02-10", "GOS @ DET", "L", 240, 116, 45, 106, 0.425, 0, 3, 0.0, 26, 34, 0.765, 20, 27, 47, 34, 9, 5, 21, 22, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300549", "1984-02-08", "GOS @ CLE", "L", 240, 108, 46, 105, 0.438, 0, 3, 0.0, 16, 21, 0.762, 23, 27, 50, 26, 7, 5, 16, 17, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300538", "1984-02-06", "GOS @ NYK", "L", 240, 94, 37, 87, 0.425, 1, 2, 0.5, 19, 22, 0.864, 12, 26, 38, 24, 9, 3, 19, 25, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300526", "1984-02-04", "GOS vs. PHX", "W", 240, 107, 42, 87, 0.483, 3, 4, 0.75, 20, 25, 0.8, 17, 34, 51, 20, 8, 3, 26, 32, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300515", "1984-02-02", "GOS vs. SAN", "W", 240, 117, 45, 102, 0.441, 1, 3, 0.333, 26, 32, 0.813, 30, 36, 66, 21, 10, 2, 25, 26, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300500", "1984-01-31", "GOS vs. MIL", "L", 265, 119, 48, 107, 0.449, 0, 3, 0.0, 23, 34, 0.676, 22, 26, 48, 26, 11, 2, 13, 26, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300492", "1984-01-26", "GOS @ SAN", "L", 240, 116, 49, 98, 0.5, 0, 6, 0.0, 18, 23, 0.783, 18, 30, 48, 34, 8, 6, 18, 29, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300487", "1984-01-25", "GOS @ DAL", "L", 265, 110, 46, 91, 0.505, 0, 1, 0.0, 18, 20, 0.9, 7, 33, 40, 29, 11, 1, 24, 24, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300480", "1984-01-24", "GOS @ HOU", "L", 240, 98, 37, 111, 0.333, 2, 4, 0.5, 22, 27, 0.815, 23, 34, 57, 17, 9, 1, 18, 23, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300471", "1984-01-21", "GOS @ DEN", "L", 240, 115, 44, 89, 0.494, 1, 4, 0.25, 26, 39, 0.667, 13, 25, 38, 24, 10, 9, 18, 31, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300452", "1984-01-19", "GOS vs. POR", "W", 240, 107, 43, 87, 0.494, 0, 2, 0.0, 21, 30, 0.7, 14, 33, 47, 23, 6, 12, 17, 19, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300438", "1984-01-17", "GOS vs. SDC", "W", 240, 123, 52, 99, 0.525, 0, 2, 0.0, 19, 22, 0.864, 22, 30, 52, 24, 9, 4, 14, 28, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300425", "1984-01-14", "GOS @ PHL", "L", 240, 103, 37, 91, 0.407, 0, 3, 0.0, 29, 41, 0.707, 22, 23, 45, 17, 14, 8, 27, 30, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300421", "1984-01-13", "GOS @ NJN", "W", 240, 114, 42, 89, 0.472, 0, 1, 0.0, 30, 41, 0.732, 16, 26, 42, 17, 16, 5, 26, 30, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300406", "1984-01-11", "GOS @ BOS", "L", 240, 112, 46, 86, 0.535, 0, 1, 0.0, 20, 23, 0.87, 12, 15, 27, 21, 6, 7, 20, 16, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300396", "1984-01-10", "GOS @ ATL", "L", 240, 101, 40, 90, 0.444, 1, 4, 0.25, 20, 29, 0.69, 17, 24, 41, 17, 8, 3, 9, 22, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300383", "1984-01-07", "GOS vs. SAN", "W", 240, 154, 62, 125, 0.496, 2, 4, 0.5, 28, 34, 0.824, 27, 38, 65, 32, 10, 5, 15, 37, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300355", "1984-01-03", "GOS vs. PHL", "W", 240, 115, 41, 82, 0.5, 0, 2, 0.0, 33, 39, 0.846, 14, 22, 36, 21, 13, 7, 17, 29, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300348", "1983-12-30", "GOS @ LAL", "W", 240, 116, 42, 92, 0.457, 1, 3, 0.333, 31, 47, 0.66, 21, 26, 47, 23, 11, 5, 10, 22, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300334", "1983-12-28", "GOS @ PHX", "L", 240, 105, 39, 86, 0.453, 3, 6, 0.5, 24, 37, 0.649, 12, 27, 39, 16, 7, 0, 26, 24, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300326", "1983-12-27", "GOS vs. UTH", "L", 240, 102, 42, 102, 0.412, 0, 5, 0.0, 18, 26, 0.692, 20, 30, 50, 23, 11, 6, 18, 27, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300312", "1983-12-23", "GOS @ LAL", "L", 240, 116, 49, 96, 0.51, 1, 2, 0.5, 17, 23, 0.739, 16, 21, 37, 30, 13, 4, 14, 23, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300303", "1983-12-22", "GOS vs. LAL", "W", 240, 109, 44, 89, 0.494, 0, 1, 0.0, 21, 26, 0.808, 16, 32, 48, 25, 10, 4, 23, 27, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300293", "1983-12-20", "GOS vs. PHX", "L", 240, 105, 40, 88, 0.455, 0, 3, 0.0, 25, 38, 0.658, 17, 38, 55, 20, 7, 2, 16, 20, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300288", "1983-12-18", "GOS vs. SDC", "W", 240, 99, 40, 97, 0.412, 0, 0, null, 19, 29, 0.655, 27, 25, 52, 18, 7, 5, 16, 27, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300283", "1983-12-17", "GOS @ UTH", "L", 240, 111, 47, 91, 0.516, 1, 4, 0.25, 16, 25, 0.64, 17, 24, 41, 28, 8, 5, 26, 27, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300270", "1983-12-15", "GOS vs. KCK", "W", 240, 119, 42, 82, 0.512, 0, 0, null, 35, 52, 0.673, 13, 32, 45, 20, 19, 1, 17, 24, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300254", "1983-12-13", "GOS vs. NJN", "L", 240, 122, 45, 100, 0.45, 3, 4, 0.75, 29, 40, 0.725, 20, 25, 45, 20, 7, 3, 16, 32, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300249", "1983-12-11", "GOS @ POR", "L", 240, 101, 38, 85, 0.447, 0, 1, 0.0, 25, 31, 0.806, 18, 20, 38, 19, 7, 9, 18, 31, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300241", "1983-12-10", "GOS vs. DAL", "L", 265, 123, 44, 99, 0.444, 0, 2, 0.0, 35, 41, 0.854, 22, 24, 46, 22, 7, 4, 11, 24, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300229", "1983-12-08", "GOS vs. DET", "W", 240, 130, 51, 103, 0.495, 0, 1, 0.0, 28, 39, 0.718, 24, 22, 46, 21, 9, 4, 12, 27, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300216", "1983-12-06", "GOS vs. SEA", "W", 240, 108, 41, 88, 0.466, 0, 1, 0.0, 26, 34, 0.765, 13, 37, 50, 21, 9, 5, 17, 22, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300199", "1983-12-02", "GOS @ SDC", "L", 240, 108, 43, 88, 0.489, 0, 1, 0.0, 22, 24, 0.917, 12, 21, 33, 20, 12, 6, 16, 18, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300192", "1983-12-01", "GOS vs. KCK", "W", 240, 106, 44, 101, 0.436, 0, 2, 0.0, 18, 27, 0.667, 18, 35, 53, 20, 5, 8, 14, 25, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300182", "1983-11-29", "GOS vs. LAL", "L", 240, 105, 40, 84, 0.476, 1, 4, 0.25, 24, 28, 0.857, 12, 25, 37, 22, 11, 4, 20, 25, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300165", "1983-11-26", "GOS @ DAL", "L", 240, 109, 45, 84, 0.536, 0, 1, 0.0, 19, 29, 0.655, 9, 22, 31, 23, 13, 3, 19, 24, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300154", "1983-11-25", "GOS @ IND", "W", 240, 110, 45, 104, 0.433, 0, 1, 0.0, 20, 24, 0.833, 28, 19, 47, 25, 16, 2, 17, 20, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300143", "1983-11-23", "GOS @ MIL", "L", 240, 94, 37, 98, 0.378, 0, 0, null, 20, 25, 0.8, 24, 21, 45, 19, 7, 6, 18, 23, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300138", "1983-11-22", "GOS @ WAS", "W", 240, 102, 40, 79, 0.506, 0, 0, null, 22, 32, 0.688, 7, 33, 40, 20, 9, 5, 14, 29, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300130", "1983-11-19", "GOS @ HOU", "L", 240, 105, 45, 90, 0.5, 0, 1, 0.0, 15, 28, 0.536, 10, 23, 33, 19, 10, 6, 14, 22, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300111", "1983-11-17", "GOS vs. DEN", "L", 240, 120, 42, 95, 0.442, 0, 2, 0.0, 36, 45, 0.8, 20, 31, 51, 20, 16, 4, 20, 27, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300102", "1983-11-15", "GOS vs. SAN", "W", 240, 115, 47, 102, 0.461, 0, 3, 0.0, 21, 32, 0.656, 16, 24, 40, 26, 12, 2, 12, 26, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300097", "1983-11-13", "GOS @ PHX", "L", 240, 98, 35, 88, 0.398, 0, 4, 0.0, 28, 39, 0.718, 13, 25, 38, 15, 12, 3, 18, 27, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300087", "1983-11-12", "GOS vs. CLE", "W", 240, 109, 38, 86, 0.442, 0, 1, 0.0, 33, 50, 0.66, 19, 32, 51, 23, 6, 2, 20, 32, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300076", "1983-11-10", "GOS vs. PHX", "L", 240, 99, 37, 87, 0.425, 0, 1, 0.0, 25, 32, 0.781, 13, 22, 35, 16, 8, 3, 18, 30, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300060", "1983-11-08", "GOS vs. ATL", "W", 240, 97, 31, 78, 0.397, 1, 3, 0.333, 34, 47, 0.723, 17, 29, 46, 21, 9, 3, 18, 26, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300048", "1983-11-05", "GOS vs. NYK", "W", 240, 102, 35, 92, 0.38, 0, 1, 0.0, 32, 45, 0.711, 25, 18, 43, 20, 16, 4, 17, 27, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300040", "1983-11-03", "GOS @ UTH", "L", 240, 112, 44, 115, 0.383, 2, 5, 0.4, 22, 25, 0.88, 27, 26, 53, 22, 11, 4, 19, 31, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300029", "1983-11-01", "GOS @ KCK", "L", 240, 114, 42, 91, 0.462, 0, 2, 0.0, 30, 40, 0.75, 12, 18, 30, 29, 15, 3, 16, 28, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300013", "1983-10-29", "GOS vs. POR", "W", 240, 97, 34, 76, 0.447, 0, 2, 0.0, 29, 40, 0.725, 12, 31, 43, 21, 9, 1, 16, 37, null], ["21983", 1610612744, "GOS", "Golden State Warriors", "0028300004", "1983-10-28", "GOS @ SEA", "W", 240, 110, 42, 89, 0.472, 0, 0, null, 26, 37, 0.703, 21, 26, 47, 26, 11, 2, 19, 34, null]]}]}'

In [30]:
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612744,GSW,Golden State Warriors,0022000489,2021-02-24,GSW @ IND,W,240,111,...,0.903,8.0,33.0,41.0,27,10,4,18,25,4.0
1,22020,1610612744,GSW,Golden State Warriors,0022000483,2021-02-23,GSW @ NYK,W,242,114,...,0.875,7.0,34.0,41.0,30,9,8,10,18,8.0
2,22020,1610612744,GSW,Golden State Warriors,0022000459,2021-02-20,GSW @ CHA,L,241,100,...,0.765,9.0,30.0,39.0,23,10,3,14,12,-2.0
3,22020,1610612744,GSW,Golden State Warriors,0022000449,2021-02-19,GSW @ ORL,L,241,120,...,0.600,9.0,36.0,45.0,37,8,0,13,19,-4.0
4,22020,1610612744,GSW,Golden State Warriors,0022000443,2021-02-17,GSW vs. MIA,W,265,120,...,0.762,9.0,37.0,46.0,32,10,1,16,19,8.0

In [32]:
! get https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%205/Labs/Golden_State.pkl

'get' is not recognized as an internal or external command,
operable program or batch file.