In [ ]:
name = "Michael Jackson"

In [2]:
Name[5]

NameError: name 'Name' is not defined

In [11]:
 # just trying a new thing i learned in the python, this is that we can index every letter with space included in python 
 name[7]

' '

In [12]:
name[12]

's'

In [13]:
# trying the same thing but with the negative index, you gotta try everything in order to learn something properly
name[-12]

'h'

In [14]:
name[-2]

'o'

In [16]:
# trying slicing in the next few slides
name[0:5]

'Micha'

In [17]:
# trying another way
name[::2]

'McalJcsn'

In [18]:
name[0:10:2]

'McalJ'

In [19]:
len('thiruvananthapuram')

18

In [21]:
# learning to use the length meausrement command in python
len('mississippi is just across the boreder from here, yippikaye mother fucker')

73

In [22]:
name[2:10]

'chael Ja'

In [26]:
# learning to combine various strings together
statement = name + ' is the best dancer of his era and also one of the most well known of all time.' + ' he also was one of a kind.' + name + '  was most well known his moon dance which was like magic, coz of the way he used to move his footwork'

In [27]:
statement

'Michael Jackson is the best dancer of his era and also one of the most well known of all time. he also was one of a kind.Michael Jackson  was most well known his moon dance which was like magic, coz of the way he used to move his footwork'

In [28]:
# trying to multiply name
5*name

'Michael JacksonMichael JacksonMichael JacksonMichael JacksonMichael Jackson'

In [32]:
# learning to add to the name
name= name+ ' is the best of his era'

In [30]:
name

'Michael Jackson is the best of his era'

In [31]:
len(name)

38

In [33]:
print('name /n again')

name /n again

In [34]:
print('name /n is the best')

name /n is the best

In [40]:
print("mj is \n the best")

mj is
 the best

In [37]:
'MJ /n is the best'

'MJ /n is the best'

In [39]:
print('michael jackson \\ is the best')

michael jackson \ is the best

In [44]:
# trying to learn other string methods
A= 'thriller in the sixth studio is going wild'

In [42]:
B=A.upper()

In [43]:
B

'THRILLER IN THE SIXTH STUDIO IS GOING WILD'

In [46]:
# learning to replace a word in string step1
A='michael is quite good at his work'

In [48]:
# learning to replace a word or words in string step 2
B=A.replace('michael is','michael and janet are')
B

'michael and janet are quite good at his work'

In [51]:
B = A.replace('michael is,his','michael and janet.their')

In [53]:
B

'michael is quite good at his work'

In [54]:
name.find('ja')

-1

In [55]:
name(5)

TypeError: 'str' object is not callable

In [56]:
name[5]

'e'

In [57]:
name.find('jack')

-1

In [58]:
 A='1934567'
 A[1::2]

'946'

In [59]:
'1'+'2'

'12'

In [60]:
'hello'.upper()

'HELLO'

In [61]:
str(1+1)

'2'

In [62]:
Name="ABCDE"
Name.find("B")

1