In [1]:
ratings=[10,67,32,423,23.3,32.32,32.4,54.5,63,.53,53,87.64]

In [2]:
#starting to learn functions, first seeing how function len is used to measure then length of any list,tuple,dictionary etc..
len(ratings)

12

In [5]:
# giving the l the value of length of ratings
l=len(ratings)

In [4]:
l

12

In [7]:
# 2nd function is sum. it takes in all iterable and adds them and give the output
album_ratings=sum(ratings)

In [8]:
album_ratings

878.6899999999999

In [9]:
total_ratings=sorted(ratings)
total_ratings

[0.53, 10, 23.3, 32, 32.32, 32.4, 53, 54.5, 63, 67, 87.64, 423]

In [11]:
ratings.sort()
ratings

[0.53, 10, 23.3, 32, 32.32, 32.4, 53, 54.5, 63, 67, 87.64, 423]

In [12]:
#making my own function
def add1(a):
    b=a+1
    return b

In [15]:
add1(5)

6

In [16]:
def multiply1(a):
    b=a*10 +2
    return b

In [17]:
multiply1(7)

72

In [18]:
c=add1(199)

In [19]:
c

200

In [22]:
def mult(a,b):
    c= a*b
    return c

In [23]:
mult(2,'mj')

'mjmj'

In [24]:
mult(20,'m j')

'm jm jm jm jm jm jm jm jm jm jm jm jm jm jm jm jm jm jm jm j'

In [25]:
def mj():
    print('michael jackson')

In [26]:
mj()

michael jackson

In [27]:
mj(a)

NameError: name 'a' is not defined

In [29]:
def nowork():
    pass
print('No Work()')

No Work()

In [30]:
nowork()

In [31]:
def add2(a):
    b=a+10
    print(a,'plus 10 equals',b)
    return b

In [32]:
add2(9)

9 plus 10 equals 19

19

In [33]:
def printstuff(stuff):
    for i,s in enumerate(stuff):
        print('album', i, 'rating is',s)

In [34]:
album_ratings=[10,8.5,9.5]
printstuff(album_ratings)

album 0 rating is 10
album 1 rating is 8.5
album 2 rating is 9.5

In [35]:
def artistnames(*names):
    for name in names:
        print(name)

In [36]:
artistnames('michael jackson','ac/dc','pink floyd')

michael jackson
ac/dc
pink floyd

In [38]:
def addDC(x):
    x=x+'DC'
    print(x)
    return (x)

In [39]:
x ='AC'
z= addDC(x)

ACDC

In [40]:
def Thriller():
    Date=1982
    return Date

In [42]:
Thriller()

1982

In [44]:
def Thrilller():
    Date=1982
    return (Date)

Date=2019

print(Thrilller())

print(Date)

1982
2019

In [45]:
def Thriler():
    Date=1982
    return (Date)

In [46]:
Date=2019

In [47]:
print(Thriler())

1982

In [48]:
print(Date)

2019

In [60]:
def ACDC(y):
    print(Ratings)
    return(Ratings +y)

In [61]:
Ratings=9

In [62]:
g=ACDC(1)

9

In [63]:
print(Ratings)

9

In [64]:
h=ACDC(10)

9

In [65]:
def add(x):
    return(x+x)
    
add('1')

'11'

In [66]:
def hello():
    print("hello")

In [67]:
hello()

hello