# _Trying the webscraping using html in Python_

In [1]:
from bs4 import BeautifulSoup

In [3]:
html= "<! DOCTYPE html><html><head><title> most paid nba players</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $9,000,000</p><h3>Stephen Curry</h3><p>Salary: $85,000,000</p><h3>Kvein Durant</h3><p>Salary: $75,200,000</p></body></html>"
soup= BeautifulSoup(html, 'html5lib')

In [4]:
soup

<!-- DOCTYPE html--><html><head><title> most paid nba players</title></head><body><h3><b id="boldest">Lebron James</b></h3><p> Salary: $9,000,000</p><h3>Stephen Curry</h3><p>Salary: $85,000,000</p><h3>Kvein Durant</h3><p>Salary: $75,200,000</p></body></html>

In [5]:
tag_object=soup.title

In [6]:
tag_object

In [7]:
tag_name=soup.h3

In [8]:
tag_name

In [9]:
tag_parent=tag_name.parent

In [10]:
tag_parent

In [11]:
tag_sibling = tag_name.next_siblings

In [12]:
tag_sibling

In [13]:
tag_sibling2=tag_name.next_sibling

In [14]:
tag_sibling2

In [15]:
tag_name.attrs

{}

In [16]:
tag_name.string

'Lebron James'

In [17]:
html1= "<table><tr><td>pizza place</td><td>orders</td><td>slices</td></tr><tr><td>Domino'z</td><td>10</td><td>120</td></tr><tr><td>Little Ceasers</td><td>12</td><td>144</td></tr></table>"
table= BeautifulSoup(html1,'html5lib')

In [18]:
table

<html><head></head><body><table><tbody><tr><td>pizza place</td><td>orders</td><td>slices</td></tr><tr><td>Domino'z</td><td>10</td><td>120</td></tr><tr><td>Little Ceasers</td><td>12</td><td>144</td></tr></tbody></table></body></html>

In [19]:
table_row= table.find_all(name='tr')
table_row

[<tr><td>pizza place</td><td>orders</td><td>slices</td></tr>,
 <tr><td>Domino'z</td><td>10</td><td>120</td></tr>,
 <tr><td>Little Ceasers</td><td>12</td><td>144</td></tr>]

In [20]:
first_row=table_row[0]
first_row

In [21]:
first_row.td

In [22]:
for i,row in enumerate(table_row):

    print('row',i)
    cells=row.find_all('td')

    for j,cell in enumerate(cells):
        print('column',j,'cell',cell)

row 0
column 0 cell <td>pizza place</td>
column 1 cell <td>orders</td>
column 2 cell <td>slices</td>
row 1
column 0 cell <td>Domino'z</td>
column 1 cell <td>10</td>
column 2 cell <td>120</td>
row 2
column 0 cell <td>Little Ceasers</td>
column 1 cell <td>12</td>
column 2 cell <td>144</td>

In [1]:
!pip install bs4
#!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1277 sha256=197a3e91e5812cd1c7860b1cdeef89f68d1a764e0c283aeb1954206fc34fc40a
  Stored in directory: c:\users\om\appdata\local\pip\cache\wheels\75\78\21\68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [2]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [3]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [4]:
#We can store it as a string in the variable HTML:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [5]:
soup = BeautifulSoup(html, 'html5lib')

In [6]:
# We can use the method prettify() to display the HTML in the nested structure:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [7]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Page Title</title>

we can see the tag type <code>bs4.element.Tag</code>

In [8]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

In [9]:
tag_object=soup.h3
tag_object

As stated above the Tag object is a tree of objects we can access the child of the tag or navigate down the branch as follows:

In [10]:
tag_child =tag_object.b
tag_child

In [11]:
parent_tag=tag_child.parent
parent_tag

In [12]:
tag_object

In [13]:
# tag_object parent is the body element.
tag_object.parent

In [14]:
sibling_1=tag_object.next_sibling
sibling_1

In [15]:
sibling_2=sibling_1.next_sibling
sibling_2

In [16]:
tag_child['id']

'boldest'

In [17]:
# You can access that dictionary directly as attrs:
tag_child.attrs

{'id': 'boldest'}

In [18]:
tag_child.get('id')

'boldest'

### Navigable String

In [19]:
tag_string=tag_child.string
tag_string

'Lebron James'

In [20]:
type(tag_string)

bs4.element.NavigableString

In [21]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

#### Filters allow you to find complex patterns, the simplest filter is a string. In this section we will pass a string to a different filter method and Beautiful Soup will perform a match against that exact string. Consider the following HTML of rocket launchs:

In [22]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [23]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [24]:
table_bs = BeautifulSoup(table, 'html5lib')

In [25]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>]

In [26]:
first_row =table_rows[0]
first_row

In [27]:
print(type(first_row))

<class 'bs4.element.Tag'>

In [28]:
first_row.td

In [29]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>

In [30]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
colunm 2 cell <td>80 kg</td>

In [31]:
list_input=table_bs .find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <td>80 kg</td>]

In [32]:
table_bs.find_all(id="flight")

In [34]:
# We can find all the elements that have links to the Florida Wikipedia page:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [35]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [36]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

##### The find_all() method scans the entire document looking for results, itâ€™s if you are looking for one element you can use the find() method to find the first element in the document. Consider the following two table:

In [37]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [38]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [39]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

In [40]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [41]:
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

# Downloading And Scraping The Contents Of A Web Page

In [42]:
url = "http://www.ibm.com"

In [43]:
data  = requests.get(url).text

In [44]:
soup = BeautifulSoup(data,"html5lib")  # create a soup object using the variable 'data'

In [45]:
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

https://www.ibm.com/in/en
https://www.ibm.com/sitemap/in/en
/in-en/node/1706826
https://smartatwork.s3.us.cloud-object-storage.appdomain.cloud/homepage/hc-advertising-ls-auto.jpg
https://smartatwork.s3.us.cloud-object-storage.appdomain.cloud/homepage/hc-advertising-ls-auto.jpg
https://www.ibm.com/in-en/cloud/hybrid?lnk=inhpv18l1
/taxonomy/term/85416
/in-en/node/2810374
https://www.ibm.com/in-en/about#2810330
/taxonomy/term/85416
/in-en/node/1706851
/in-en/node/1706841
/in-en/node/1706831
/in-en/node/1706836
/in-en/node/1706846
/taxonomy/term/85416
/in-en/node/1706821
/taxonomy/term/85416
https://www.ibm.com/employment/in/
/in-en/node/1706816
https://www.ibm.com/in-en/marketplace/collections/offers-and-discounts/?link=inhpv18t5&lnk2=trial_mktpl_MPDISC
/in-en/node/1706801
/in-en/node/1706806
/in-en/node/1706796
/in-en/node/1706811
/taxonomy/term/85416
/in-en/node/1706866
/in-en/node/1706861
/taxonomy/term/85416
/in-en/products
https://www.ibm.com/in-en/cloud/hybrid?lnk=inhpv18l1
https://www.ibm.com/in-en/cloud/hybrid?lnk=inhpv18l1
https://www.ibm.com/in-en/about#2810330
https://www.ibm.com/in-en/smarter-business/enterprise-applications?lnk=inhpv18f1
http://www.ibm.com/in-en/events/cloud-podcasts?lnk=inhpv18f2
https://www.ibm.com/thought-leadership/institute-business-value/report/ceo?lnk=inhpv18f3
https://www.ibm.com/account/reg/signup?formid=urx-46355
https://www.ibm.com/search?lang=en&amp;cc=in&amp;q=
/in-en/products
/in-en/products
//www.ibm.com/in-en/products/category/technology/analytics
//www.ibm.com/in-en/products/category/technology/cloud-computing
//www.ibm.com/in-en/products/category/technology/mobile-technology
//www.ibm.com/in-en/products/category/technology/cognitive-computing-and-AI
//www.ibm.com/in-en/products/category/technology/IT-infrastructure
//www.ibm.com/in-en/products/category/technology/security
//www.ibm.com/in-en/products/category/technology/blockchain
//www.ibm.com/in-en/products/category/technology/IT-management
//www.ibm.com/in-en/products/category/technology/software-development
//www.ibm.com/in-en/products/category/technology/analytics
//www.ibm.com/in-en/products/category/technology/cloud-computing
//www.ibm.com/in-en/products/category/technology/mobile-technology
//www.ibm.com/in-en/products/category/technology/cognitive-computing-and-AI
//www.ibm.com/in-en/products/category/technology/IT-infrastructure
//www.ibm.com/in-en/products/category/technology/security
//www.ibm.com/in-en/products/category/technology/blockchain
//www.ibm.com/in-en/products/category/technology/IT-management
//www.ibm.com/in-en/products/category/technology/software-development
//www.ibm.com/in-en/products/category/business/business-operations
//www.ibm.com/in-en/products/category/business/content-management
//www.ibm.com/in-en/products/category/business/human-resources
//www.ibm.com/in-en/products/category/business/collaboration
//www.ibm.com/in-en/products/category/business/customer-service-and-CRM
//www.ibm.com/in-en/products/category/business/marketing
//www.ibm.com/in-en/products/category/business/commerce
//www.ibm.com/in-en/products/category/business/finance
//www.ibm.com/in-en/products/category/business/supply-chain-management
https://www.ibm.com/in-en/marketplace/collections/offers-and-discounts/?link=inhpv18t5&lnk2=trial_mktpl_MPDISC
https://cloud.ibm.com/registration?lnk=STW_IN_HP_T1_BLK&psrc=NONE&pexp=DEF&lnk2=trial_Cloud
https://www.ibm.com/in-en/cloud/aspera?lnk=STW_IN_HP_T2_BLK&psrc=NONE&pexp=DEF&lnk2=trial_AsperaCloud
https://www.ibm.com/account/reg/us-en/signup?formid=urx-46597&lnk=STW_IN_HP_T3_BLK&psrc=NONE&pexp=DEF&lnk2=trial_RoboticProcess
https://www.ibm.com/in-en/cloud/bare-metal-servers?lnk=STW_IN_HP_T4_BLK&psrc=NONE&pexp=DEF&lnk2=trial_CloudBareMetal
https://www.ibm.com/employment/in/
https://www.ibm.com/employment/in/
#

## Scrape all images Tags

In [46]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

<img alt="Hybrid Cloud - IBM" class="ibm-resize" src="https://smartatwork.s3.us.cloud-object-storage.appdomain.cloud/homepage/hc-advertising-ls-auto.jpg"/>
https://smartatwork.s3.us.cloud-object-storage.appdomain.cloud/homepage/hc-advertising-ls-auto.jpg
<img alt="BusinessApp" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/m/64ce011df70079a7/original/10052020-f-enterprise-applications-25422-444x320.jpg" width="300"/>
https://1.dam.s81c.com/m/64ce011df70079a7/original/10052020-f-enterprise-applications-25422-444x320.jpg
<img alt="No Nerd Cloud Podcast" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/f9/a5/Logo-Lockup-444-w-x-320h-px.jpg" width="300"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/f9/a5/Logo-Lockup-444-w-x-320h-px.jpg
<img alt="2021CEOStudy" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/32/52/20210125-IBV-CEO%20Study-mobile-25634-444x320.jpg" width="300"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/32/52/20210125-IBV-CEO%20Study-mobile-25634-444x320.jpg
<img alt="Cost of Data Breach report" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/m/3bbe4f5c5586c08d/original/cost-of-a-breach-444x320.jpg" width="300"/>
https://1.dam.s81c.com/m/3bbe4f5c5586c08d/original/cost-of-a-breach-444x320.jpg
<img alt="IBM Cloud" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/m/13cef10976e080c1/original/IBM-Cloud-444x260.png" width="300"/>
https://1.dam.s81c.com/m/13cef10976e080c1/original/IBM-Cloud-444x260.png
<img alt="IBM Aspera" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/other/ul/g/7f/21/7f21a7dd-0a06-4087-808bb5e950a3f5dc.png" width="300"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/other/ul/g/7f/21/7f21a7dd-0a06-4087-808bb5e950a3f5dc.png
<img alt="IBM Robotic Process Automation " class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/ae/3d/RPA_Homepage%20Trial.png" width="300"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/ae/3d/RPA_Homepage%20Trial.png
<img alt="Bare Metal Servers" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/other/ul/g/7f/21/7f21a7dd-0a06-4087-808bb5e950a3f5dc.png" width="300"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/other/ul/g/7f/21/7f21a7dd-0a06-4087-808bb5e950a3f5dc.png

## Scrape data from HTML tables

In [47]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

Before proceeding to scrape a web site, you need to examine the contents, and the way data is organized on the website. Open the above url in your browser and check how many rows and columns are there in the color table.

In [48]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [49]:
soup = BeautifulSoup(data,"html5lib")

In [50]:
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>

In [51]:
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

# Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [52]:
import pandas as pd

In [53]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

### Before proceeding to scrape a web site, you need to examine the contents, and the way data is organized on the website. Open the above url in your browser and check the tables on the webpage.

In [54]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [55]:
soup = BeautifulSoup(data,"html5lib")

In [56]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [57]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

25

Assume that we are looking for the 10 most densly populated countries table, we can look through the tables list and find the right one we are look for based on the data in each table or we can search for the table name if it is in the table but this option might not always work.

In [58]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

In [59]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Country
   </th>
   <th>
    Population
   </th>
   <th>
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th>
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="2880" data-file-width="4320" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,704,000
   </td>
   <td>
    710
   </td>
   <td>
    8,033
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    170,250,000
   </td>
   <td>
    143,998
   </td>
   <td>
    1,182
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    6,856,000
   </td>
   <td>
    10,452
   </td>
   <td>
    656
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,604,000
   </td>
   <td>
    36,193
   </td>
   <td>
    652
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,781,000
   </td>
   <td>
    99,538
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="720" data-file-width="1080" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    12,374,000
   </td>
   <td>
    26,338
   </td>
   <td>
    470
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/23px-Flag_of_Haiti.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/35px-Flag_of_Haiti.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/46px-Flag_of_Haiti.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Haiti" title="Haiti">
     Haiti
    </a>
   </td>
   <td>
    11,578,000
   </td>
   <td>
    27,065
   </td>
   <td>
    428
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,570,000
   </td>
   <td>
    41,526
   </td>
   <td>
    423
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,320,000
   </td>
   <td>
    22,072
   </td>
   <td>
    422
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="900" data-file-width="1350" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,373,980,000
   </td>
   <td>
    3,287,240
   </td>
   <td>
    418
   </td>
  </tr>
 </tbody>
</table>

In [60]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank       Country     Population       Area Density
0    1    Â Singapore      5,704,000        710   8,033
1    2   Â Bangladesh    170,250,000    143,998   1,182
2    3      Â Lebanon      6,856,000     10,452     656
3    4       Â Taiwan     23,604,000     36,193     652
4    5  Â South Korea     51,781,000     99,538     520
5    6       Â Rwanda     12,374,000     26,338     470
6    7        Â Haiti     11,578,000     27,065     428
7    8  Â Netherlands     17,570,000     41,526     423
8    9       Â Israel      9,320,000     22,072     422
9   10        Â India  1,373,980,000  3,287,240     418

# Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html
##### Using the same url, data, soup, and tables object as in the last section we can use the read_html function to create a DataFrame.

Remember the table we need is located in tables[table_index]

We can now use the pandas function read_html and give it the string version of the table as well as the flavor which is the parsing engine bs4.

In [61]:
pd.read_html(str(tables[5]), flavor='bs4')

[   Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   170250000     143998              1182
 2     3      Lebanon     6856000      10452               656
 3     4       Taiwan    23604000      36193               652
 4     5  South Korea    51781000      99538               520
 5     6       Rwanda    12374000      26338               470
 6     7        Haiti    11578000      27065               428
 7     8  Netherlands    17570000      41526               423
 8     9       Israel     9320000      22072               422
 9    10        India  1373980000    3287240               418]

In [65]:
# The function read_html always returns a list of DataFrames so we must pick the one we want out of the list.
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]
population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170250000     143998              1182
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17570000      41526               423
8     9       Israel     9320000      22072               422
9    10        India  1373980000    3287240               418

In [66]:
dataframe_list = pd.read_html(url, flavor='bs4')

In [67]:
#We can see there are 25 DataFrames just like when we used find_all on the soup object.
len(dataframe_list)
len(dataframe_list)

25

In [68]:
#Finally we can pick the DataFrame we need out of the list.
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170250000     143998              1182
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17570000      41526               423
8     9       Israel     9320000      22072               422
9    10        India  1373980000    3287240               418

In [69]:
# We can also use the match parameter to select the specific table we want. If the table contains a string matching the text it will be read.
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170250000     143998              1182
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17570000      41526               423
8     9       Israel     9320000      22072               422
9    10        India  1373980000    3287240               418

# Author

Anmol Gupta