In [2]:
ratings = (10,6,5,34,,4,34,5)

SyntaxError: invalid syntax (<ipython-input-2-a7ab08976285>, line 1)

In [3]:
# learning to use the tuples
tuple1 = ('disco', 10, 1.2)

In [4]:
tuple1

('disco', 10, 1.2)

In [5]:
type(tuple1)

tuple

In [6]:
tuple1[2]

1.2

In [7]:
tuple1[0]

'disco'

In [8]:
# making new tuples using the previously made ones using addition
tuple2 = tuple1 + ('hard rock', 51)

In [9]:
tuple2

('disco', 10, 1.2, 'hard rock', 51)

In [10]:
# learning slicing of tuples to get more than one elements at a time
tuple2[0:4]

('disco', 10, 1.2, 'hard rock')

In [11]:
tuple2[3:4]

('hard rock',)

In [12]:
len(tuple2)

5

In [13]:
len(('hard rock', 10, 1.2, 'disco', 51))

5

In [14]:
ratings= (10,434,4242,4,42,42)
ratings1=ratings
ratings1

(10, 434, 4242, 4, 42, 42)

In [15]:
ratings2 = ratings + (12,21,34,53,62)
ratings2

(10, 434, 4242, 4, 42, 42, 12, 21, 34, 53, 62)

In [16]:
len(ratings2)

11

In [17]:
tuple2[2:12]

(1.2, 'hard rock', 51)

In [18]:
ratings2[2:12]

(4242, 4, 42, 42, 12, 21, 34, 53, 62)

In [19]:
# making a sorted list ratings 2 as it looks really messy and also learning to use sorted function
ratingssorted= sorted(ratings2)
ratingssorted

[4, 10, 12, 21, 34, 42, 42, 53, 62, 434, 4242]

In [20]:
# learning the nesting in tuples
nt= (1,2,('hard','rock'), (3,4), ('pop','music',2,3),('fun', ('is','only'),'starting'))
nt

(1,
 2,
 ('hard', 'rock'),
 (3, 4),
 ('pop', 'music', 2, 3),
 ('fun', ('is', 'only'), 'starting'))

In [21]:
len(nt)

6

In [22]:
nt[2]

('hard', 'rock')

In [23]:
nt[1:5]

(2, ('hard', 'rock'), (3, 4), ('pop', 'music', 2, 3))

In [24]:
# trying a weird thing in tuple dont know if im writing it correctly or not
('hard','rock')[1]

'rock'

In [25]:
# easier way of writing the above command
nt[5][1][0]

'is'

In [26]:
nt[5][1][0][0]

'i'

In [27]:
print(nt[0])

1

In [28]:
print(nt[5][1])

('is', 'only')

In [6]:
# starting from here is the lists
l=['michael jackson',10,12.2]

In [2]:
l

['michael jackson', 10, 12.2]

In [7]:
# extending the earlier made list l
l.extend(['pop',[1,2,'rock on'],'hello'])
l

['michael jackson', 10, 12.2, 'pop', [1, 2, 'rock on'], 'hello']

In [4]:
len(l)

6

In [10]:
# experimented to see how we can even find out the letter of word in a string through commands
l[5][2]

'l'

In [11]:
l[2:6]

[12.2, 'pop', [1, 2, 'rock on'], 'hello']

In [14]:
# various ways of adding to the list in python
l1= l + ['hey yo', 3465]

In [15]:
l1

['michael jackson',
 10,
 12.2,
 'pop',
 [1, 2, 'rock on'],
 'hello',
 'hey yo',
 3465]

In [16]:
l1.append(['sup',264,'hehe'])
l1

['michael jackson',
 10,
 12.2,
 'pop',
 [1, 2, 'rock on'],
 'hello',
 'hey yo',
 3465,
 ['sup', 264, 'hehe']]

In [17]:
len(l1)

9

In [20]:
l1[8][1]

264

In [21]:
l1[8][2][2]

'h'

In [22]:
l

['michael jackson', 10, 12.2, 'pop', [1, 2, 'rock on'], 'hello']

In [23]:
l.append('abc')

In [24]:
l

['michael jackson', 10, 12.2, 'pop', [1, 2, 'rock on'], 'hello', 'abc']

In [26]:
#just trying things
l.append('def')
l

['michael jackson', 10, 12.2, 'pop', [1, 2, 'rock on'], 'hello', 'abc', 'def']

In [27]:
len(l)

8

In [28]:
# trying to change a unit  
l[1]= 'hard disk'
l

['michael jackson',
 'hard disk',
 12.2,
 'pop',
 [1, 2, 'rock on'],
 'hello',
 'abc',
 'def']

In [29]:
# deleting a variable from the list
del(l[2])
l

['michael jackson',
 'hard disk',
 'pop',
 [1, 2, 'rock on'],
 'hello',
 'abc',
 'def']

In [30]:
l[2:6]

['pop', [1, 2, 'rock on'], 'hello', 'abc']

In [31]:
'rock on'.split()

['rock', 'on']

In [35]:
'abcdefghijklmnopqrstuvwxyz'.split()

['abcdefghijklmnopqrstuvwxyz']

In [36]:
a = ['hi',101,13.1]
b=a

In [37]:
b

['hi', 101, 13.1]

In [38]:
a

['hi', 101, 13.1]

In [39]:
a[2]='well well well'
b[2]

'well well well'

In [41]:
# here is a list of commands that can also performed
help(a)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=2147483647, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [42]:
print(type(l[1]))

<class 'str'>

In [43]:
print(type(l))

<class 'list'>

In [44]:
print(type(a[1]))

<class 'int'>

In [45]:
print(type(a[2]))

<class 'str'>

In [47]:
len(('disco',10))

2