Today ill be learning to use pandas in this notebook

In [1]:
import pandas

In [3]:
songs={'Album':['thriller','back in black','the bodyguard','the dark side of the moon','bat out of hell'],'Released':[1982,1980,1973,1992,1987],'Length':['00:42:19','00:42:11','00:42:19','00:42:10','00:41:50']}

In [4]:
songs_frame=pandas.DataFrame(songs)

In [5]:
songs_frame

                       Album  Released    Length
0                   thriller      1982  00:42:19
1              back in black      1980  00:42:11
2              the bodyguard      1973  00:42:19
3  the dark side of the moon      1992  00:42:10
4            bat out of hell      1987  00:41:50

In [6]:
x=songs_frame[['Album']]
x

                       Album
0                   thriller
1              back in black
2              the bodyguard
3  the dark side of the moon
4            bat out of hell

In [7]:
y=songs_frame[['Album','Length']]

In [8]:
y

                       Album    Length
0                   thriller  00:42:19
1              back in black  00:42:11
2              the bodyguard  00:42:19
3  the dark side of the moon  00:42:10
4            bat out of hell  00:41:50

In [9]:
y.loc[1,'Album']:'back in black'

In [10]:
y.loc[1,'Album']:'thriller'

In [11]:
y

                       Album    Length
0                   thriller  00:42:19
1              back in black  00:42:11
2              the bodyguard  00:42:19
3  the dark side of the moon  00:42:10
4            bat out of hell  00:41:50

In [12]:
y.loc[2,'Length']

'00:42:19'

In [13]:
songs_frame

                       Album  Released    Length
0                   thriller      1982  00:42:19
1              back in black      1980  00:42:11
2              the bodyguard      1973  00:42:19
3  the dark side of the moon      1992  00:42:10
4            bat out of hell      1987  00:41:50

In [15]:
songs_frame.loc[3,'Released']

1992

In [16]:
y.iloc[0,0]

'thriller'

In [17]:
songs_frame.iloc[1,2]

'00:42:11'

In [19]:
songs_frame.iloc[4,1]

1987

In [20]:
z=songs_frame.iloc[0:2,0:3]
z

           Album  Released    Length
0       thriller      1982  00:42:19
1  back in black      1980  00:42:11

In [25]:
new_songs={'BTS':['moon','on','fake love','go go go','danger','n.o','we are bulletproof:eternal','boy in love','boy with luv','tear','seesaw','blood,sweat and tears','epiphany','serendipity','euphoria','friends'],'Year':[2020,2020,2018,2018,2014,2013,2020,2013,2019,2017,2017,2016,2017,2018,2017,2020],'Album Name':['map of the soul:7','map of the soul:7','wings','wings','too cool for skool','too cool for skool','map of the soul:7','dangerous','map of the soul:persona','love yourself:tear','love yourself:her','wings','love yourself','love yourself:her','love yourself','map of the soul:7']}

In [22]:
new_songs

{'BTS': ['moon',
  'on',
  'fake love',
  'go go go',
  'danger',
  'n.o',
  'we are bulletproof:eternal',
  'boy in love',
  'boy with luv',
  'tear',
  'seesaw',
  'blood,sweat and tears',
  'epiphany',
  'serendipity',
  'euphoria',
  'friends'],
 'Year': [2020,
  2020,
  2018,
  2018,
  2014,
  2013,
  2020,
  2013,
  2019,
  2017,
  2016,
  2017,
  2018,
  2017,
  2020],
 'Album Name': ['map of the soul:7',
  'map of the soul:7',
  'wings',
  'wings',
  'too cool for skool',
  'too cool for skool',
  'map of the soul:7',
  'dangerous',
  'map of the soul:persona',
  'love yourself:tear',
  'love yourself:her',
  'wings',
  'love yourself',
  'love yourself:her',
  'love yourself',
  'map of the soul:7']}

In [26]:
BTS_songs=pandas.DataFrame(new_songs)

In [28]:
BTS_songs

                           BTS  Year               Album Name
0                         moon  2020        map of the soul:7
1                           on  2020        map of the soul:7
2                    fake love  2018                    wings
3                     go go go  2018                    wings
4                       danger  2014       too cool for skool
5                          n.o  2013       too cool for skool
6   we are bulletproof:eternal  2020        map of the soul:7
7                  boy in love  2013                dangerous
8                 boy with luv  2019  map of the soul:persona
9                         tear  2017       love yourself:tear
10                      seesaw  2017        love yourself:her
11       blood,sweat and tears  2016                    wings
12                    epiphany  2017            love yourself
13                 serendipity  2018        love yourself:her
14                    euphoria  2017            love yourself
15                     friends  2020        map of the soul:7

In [30]:
BTS_songs['Year'].unique()

array([2020, 2018, 2014, 2013, 2019, 2017, 2016], dtype=int64)

In [32]:
BTS_songs['Year']>=2015

0      True
1      True
2      True
3      True
4     False
5     False
6      True
7     False
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
Name: Year, dtype: bool

In [35]:
df1=BTS_songs[BTS_songs['Year']>=2017]

In [36]:
df1

                           BTS  Year               Album Name
0                         moon  2020        map of the soul:7
1                           on  2020        map of the soul:7
2                    fake love  2018                    wings
3                     go go go  2018                    wings
6   we are bulletproof:eternal  2020        map of the soul:7
8                 boy with luv  2019  map of the soul:persona
9                         tear  2017       love yourself:tear
10                      seesaw  2017        love yourself:her
12                    epiphany  2017            love yourself
13                 serendipity  2018        love yourself:her
14                    euphoria  2017            love yourself
15                     friends  2020        map of the soul:7

In [38]:
df1.to_csv('BTS_songs.csv')

In [39]:
BTS_songs.head()

         BTS  Year          Album Name
0       moon  2020   map of the soul:7
1         on  2020   map of the soul:7
2  fake love  2018               wings
3   go go go  2018               wings
4     danger  2014  too cool for skool